html {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth
}



body {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #222d5a 0%, #c68411 100%);
}

h1 {
  font-size: 2em;
  line-height: 1.1;
  color: #f9f9f9;
}

#app {
  height: auto;
  max-width:100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

#game__area {
  position: relative;
  width: 85vw;
  height: 60vh;
  border: 2px solid #000000;
  background: #747bff;
  margin: 10px;
  background-image: url("../assets/medium-shooter.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

#game__area :hover{
  cursor: crosshair;
}

.target {
  width: 7%; 
  height: 7%;
  max-width: 50px; 
  aspect-ratio: 1/1;
  position: absolute;
  background: radial-gradient(red 10%, white 10%, white 30%, red 30%, red 50%, white 50%, white 80%, red 80%, red 100%);
  border-radius: 50%; 
  cursor: crosshair;
  z-index: 2;
}

.sp-target {
  width: 5%; 
  height: 5%;
  max-width: 50px; 
  aspect-ratio: 1/1;
  position: absolute;
  border-radius: 50%; 
  cursor: crosshair;
  z-index: 1;

}
.bottle {
  width: 7%; 
  height: 7%;
  max-width: 50px; 
  position: absolute;
  background-color: transparent;
  border-radius: 50%; 
  cursor: crosshair;
}


.ufo {
  width: 8%; 
  height: 5%; 
  position: absolute;
  background-color: rgba(255, 0, 0, 0); 
  border-radius: 50%; 
  top: 64.5%; 
  left: 79.5%; 
  transform: translate(-50%, -50%); 
  transition: all 1.5s ease-in-out; 
  z-index: 0;
}


#score__card {
  display: grid;
  grid-template-columns: 1fr;
  width: 95%;
  background-color: rgb(12, 7, 2);
  color: #ffffff;
  font-size: 2rem;
  line-height: 50px;
  font-size: large;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#score__card--points{
  justify-content: right;
}


.button {
  border-radius: 20px;
  border: 2px solid #000000;
  background-color: #f9f9f9;
  color: #000000;
  font-size: 1.2rem;
  margin: 10px;
  justify-content: center;
}

.button:hover {
  background-color: #93230d;
  color: #f9f9f9;
  cursor: pointer;
}
.final__score {
  border: 2px solid whitesmoke;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: black;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #000000;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media screen and (max-width: 600px) {
  #game__area {
    width: 95%; 
    height: 64vh; 
    max-height: none;
    max-width: none;
    background: url(../assets/phone-shooter.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  h1 {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 600px) and (max-width: 900px){
  #game__area {
    width: 95%; 
    height: 70vh; 
    max-height: none; 
    max-width: none;
  }
    
}

@media screen and (min-width: 900px) and (max-width: 1440px){
  #game__area {
    width: 95%; 
    height: 75vh; 
    max-height: none;
    max-width: none;
    background: url('../assets/large-shooter.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}