body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  height: auto;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#game__area {
  position: relative;
  width: 650px;
  height: 650px;
  box-shadow: 10px 10px 15px rgb(4, 3, 3);
  border: 1px solid #000000;
  background-image: url(../western-shooting-gallery.png);
  background-size: cover;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(11, 1fr);
  padding: 10px;
}
.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 30px;
  text-align: center;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #000000;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
