body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    #008ac1,
    rgb(236, 234, 204) ,
    rgb(179, 123, 43)
  );
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  height: auto;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#game__area {
  position: relative;
  width: 650px;
  height: 650px;
  margin: 0 auto;
  box-shadow: 10px 10px 15px rgb(4, 3, 3);
  border: 1px solid #000000;
  background-image: url(../western-shooting-gallery.png);
  background-size: cover;
}

#game__area :hover{
  cursor: crosshair;
}

.target {
  width: 20px; 
  height: 20px; 
  position: absolute;
  background-color: red; 
  border-radius: 50%; 
  top: 64.5%; 
  left: 79.5%; 
  transform: translate(-50%, -50%); 
  transition: all 0.5s ease-in-out; 
}

.target:hover {
  background-color: green; 
  transform: translate(-50%, -50%) scale(1.5);
}

.alien {
  width: 20px; 
  height: 20px; 
  position: absolute;
  background-image: url('./assets/ufo.jpg');
  border-radius: 50%; 
  top: 64.5%; 
  left: 79.5%; 
  transform: translate(-50%, -50%); 
  transition: all 0.5s ease-in-out; 
}


#score__card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: rgb(12, 7, 2);
  color: #ffffff;
  font-size: 2rem;
  line-height: 50px;
  font-size: large;
}

#score__card--points{
  justify-content: right;
}

#score__card--multiplier {

}

@media (prefers-color-scheme: light) {
  :root {
    color: #000000;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
